---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title-holder {
  float: left;
  display: block;
  float: right;
  left: -50%; /* or right 50% */
  text-align: left;
}

.site-nav-holder {
  float:left;
  display: block;
  clear: left;
}

.site-nav {
	right: auto;
	text-align: left;
}

label[for="nav-trigger"] {
	float: left;
}

.trigger {
	text-align: left;
}

.site-nav .page-link {
	margin-left: 0px;
}

.site-nav label[for="nav-trigger"] {
	float: left;
}

.imagebox {
	padding-top: 2em;
	padding-bottom: 2em;
}

.imagebox img {
	display: block;
	margin: auto;
	width: 30em;
	height: 20em;
}

.imagebox span {
	text-align: center;
	display: block;
	margin: auto;
}
